.myNavbar
{
    background-color: rgb(5, 21, 88);;
    color: white !important;
    font-size: large; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.nav-link {
    color: white !important;
    }
