body{
    background-color:rgb(245, 236, 236);
   
}

#mycontents{
    background-color: rgb(193, 191, 206);
}
.myNavbar
{
    background-color: rgb(5, 21, 88);;
    color: white !important;
    font-size: large; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.nav-link {
    color: white !important;
    }




    