body{
    background-color:rgb(245, 236, 236);
   
}

#mycontents{
    background-color: rgb(193, 191, 206);
}

.layout-container {
    display: flex;
  }
  main {
    flex: 3;
  }
  aside {
    flex: 1;
    background-color: black;
  }



    